<div style="FONT-FAMILY: courier new">
    <div class="jobdetails">
        <table>
            <tbody>
                <tr>
                    <td style="COLOR: #666">Job:</td>
                    <td width="100%"><a href="http://webappgetit.asbbank.co.nz/Activate/StartApproval.aspx?JobID={{ reference }}">{{ reference }}</a> - {{user_name}} requested Large File Download </td></tr>
                <tr>
                    <td style="COLOR: #666">Submitted by:</td>
                    <td>{{user_name}} ({{user_email}})</td></tr>
            </tbody>
        </table>
    </div>
</div>